<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered. In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook

__Objectives:__

* List popular Data Science Languages
* List commonly used Data Science libraries
* List Data Science Development Tools
* Examples of Evaluating Arithmetic expressions in Python

Create a markdown cell to list data science languages:

In [51]:
text= "Some of the popular languages that Data Scientists use are: "
languages_ds = ["Python", "R", "Julia", "Java"]
print(text,languages_ds)

Some of the popular languages that Data Scientists use are:  ['Python', 'R', 'Julia', 'Java']

Create a markdown cell to list data science libraries:

In [44]:
text1 = "Some of the commonly used libraries used by Data Scientists include: "
libraries_ds = ["SciPy", "Pandas", "Matplotlib"]
print (text1, libraries_ds)

Some of the commonly used libraries used by Data Scientists include:  ['SciPy', 'Pandas', 'Matplotlib']

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

Data Science Tools  |
------------- |
Visual Studio Code | 
Jupyter Notebooks  | 
RStudio |

Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python:

In [45]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [49]:
#This will convert 200 minutes to hours by diving by 60

print(200//60,"hours",(200%60),"minutes")

3 hours 20 minutes

## Author
Salmanzade Nigar